<a href="/cd?path={{path}}" class="a">
  <div class="flex flex-col folder">
    <div class="folder__icon">
      <img src="{{icon}}" alt="folder icon" />
    </div>
    {{#unless goback}}
    <a href="/rm?currentPath={{@root.currentPath}}&path={{path}}">
      <div class="rm-btn">
        X
      </div>
    {{/unless}}
    </a>
    <div class="folder__name">
      {{truncate name 10}}
    </div>
  </div>
</a>