<div style="border-radius: 10px; color: blue; background-color: whitesmoke; padding: 10px;">
  {{countries}}<br>
  {{langs}}<br>
  {{digits}}<br>
  {{user.login}} *{{user.passwd}}* - {{user.age}}
</div>

<div style="margin-top: 10px; border-radius: 10px; color: blue; background-color: whitesmoke; padding: 10px;">
  {{#each books}}
    {{#if author}}
      {{this.author}} - 
    {{/if}}

    {{this.title}}

    {{#if lang}}
      ({{this.lang}})
    {{/if}}

    <br>
  {{/each}}
</div>
