{{> style}}

<div class="max-height flex-column">
  {{> navigation}}

  <div class="max-height flex-row">
    <div class="sidebar">file info</div>

    <div class="content">
      <div>
        id: <span class="file-id">{{name}}</span>
        <br>name: <span class="file-name">{{name}}</span>
        <br>path: <span class="file-path">{{path}}</span>
        <br>size: <span class="file-size">{{size}}</span>
        <br>type: <span class="file-type">{{type}}</span>
        <br>savedate: <span class="file-date">{{savedate}}</span>
      </div>
    </div>
  </div>
</div>